body{
    background: #FFFFFF;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header{
    max-height: 82px;
    width: 100%;
}
.header-logo{
    width: 1328px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    
}
.header-img{
    margin-left: 24px;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
}
.header-a{
    margin-right: 43px;
    color: #3f3b3d;
    text-decoration: none;
    line-height: 18.7px;
    font-size: 14px;
}
.header-a:last-child{
    margin-right: 24px;
}
.header-a:first-child{
    margin-left: 20px;
}
.header-block{
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
}
.buy-button{
    padding: 12px 19px;
    line-height: 16px;
    font-size: 12px;
    border: 0.5px solid #DDDBDA;
    border-radius: 5px;
    background-color:#DDDBDA;
}
.basket{
    display: flex;
    margin-left: 15px;
    justify-content:space-between;
    padding: 3.5px 10px;
    align-items:center;
    border: 0.5px solid #F8F9FA;
    border-radius: 5px;
    gap: 8px;
    background-color:#F8F9FA;
}
.zero{
    margin: 0;
    padding: 2px 6px;
    background-color:#3F3B3D;
    border: 0.5px solid #3F3B3D;
    border-radius: 100%;
    color:#FFFFFF;
    font-size: 11px;
}
.main-block{
    background-color: #3f3b3d;
    height: 482px;
    width: 1280px;
    margin: 0 auto;
    
    display: flex;
    align-items:end;
    justify-content: start;
}
.main{
    position: relative;
    padding-top:80px;
}
.main-img{
    position: absolute;
    right: 79px;
    top: 0;
    z-index: 0;
    display: flex;
    align-items:end;
}
.main-block-text{
    width: 29%;
    height: auto;
    margin-left: 65px;
    margin-bottom: 60px;
    padding-bottom: 6px;
    z-index: 1;
}
.block-text{
    color:#FFFFFF;
    line-height: 42.5px;
    font-size: 33px;
    margin: 0;
}
.buttons{
    color:#FFFFFF;
    line-height: 21.3px;
    font-size: 16px;
    margin: 0;
}
.main-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 27.5px;
}
.button-shop{
    padding: 10px 26px;
    background-color:#F14814;
    border-radius: 5px;
    width: 125px;
    height: 24.2px;
}
.button-browse{
    padding:11.5px 26px;
    margin-left: 7px;
}
.square-block{
    height: 40px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}
.square{
    height: 6px;
    width: 6px;    
    background-color:#FFFFFF;
}
.main-shop{
    margin: 0 auto;
    width: 1280px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
}
.main-shop-block{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:27px;
}
.shop-one-text{
    padding-bottom: 5px;
}
.one-text{
    
    letter-spacing: 1px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color:#F14814;
}
.two-text{
    line-height: 37.3px;
    font-size: 27px;
    color:#3F3B3D;
    margin:0;
    text-align: center;
}
.shop-two-text{
    height: 112px;
    width: 700px;
    letter-spacing: 0.56px;
}
.text-shop{
    line-height: 25px;
    font-size: 21px;
    color:#3F3B3D;
    margin:0;
    margin-top:10px;
}
.text-shop-block{
    line-height: 16px;
    font-size: 12px;
    color:#3F3B3D;
    margin-top: 10px;
    text-align: center;
}
.shop-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap:70px;
    padding-right: 10px;
    padding-top: 25px;
}
.lower-min{
    padding-right: 5px;
}
.main-picture-block{
    width: 1280px;
    margin: auto;
    margin-top: 63.5px;
    display: flex;
    gap: 7px;
    flex-direction: column;
}
.one-picture-block{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.one-picture{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.one-egg-block{
    width: 397px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
}
.two-egg-block{
    display:flex;
    flex-wrap: nowrap;
    gap: 4.5px;
}
.style-picture{
    line-height: 16px;
    font-size: 12px;
}
.two-picture{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.one-boom-block{
    width: 397px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
}
.three-picture{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.one-pineapple-block{
    width: 397px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
}
.two-picture-block{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.shop-all{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.text-shop-all{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.one-text-shop-all{
    font-size: 40px;
    line-height: 44px;
    color:#FFFFFF;
    margin-bottom: 12px;
    letter-spacing: 0.44px;
}
.two-text-shop-all{
    font-size: 14px;
    line-height: 18.7px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 22px;
}
.browse{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.text-browse{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.other-part{
    background-color:#F8F9FA;
    margin-top: 65px;
    height: 970px;
    display: grid;  
    justify-items: center;
    align-items:center;
    align-content: end;
    justify-content: center;
}
.text-other-part{
    line-height: 35.2px;
    font-size: 29px;
    color:#3F3B3D;
    margin-bottom: 0;
}
.other-part-block{
    display: grid;  
    justify-items: center;
    align-items:center;
    align-content: center;
    justify-content: center;
    width: 1328px;
    margin-bottom: 57px;
    gap: 30px;
}
.one-other-part{
    width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap:8px;
}
.two-other-part{
    display:grid;
    align-items: center;
    justify-content: center;
    height: 536px;
    width: 536px;
    background-color:#DCEAE9;
}
.one-text-other{
    line-height: 32px;
    font-size: 24px;
    padding-top: 25px;
    margin-bottom: 14px;
}
.two-text-other{
    line-height: 16px;
    font-size: 12px;
    
}
.text-two-other-part{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    
}
.text-other{
    font-size: 16px;
    line-height: 21.3px;
    margin-bottom: 3px;
    margin-top: 10px;
}
.two-other-block{
    display: flex;
    justify-content: space-around;
    gap:60px;
    width: 1280px;
    padding-right: 20px;
    margin-top: 30px;
}
.img-group{
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap:10px
}
.one-text-other-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-text-other-block{
    display: flex;
    justify-content: center;
    align-items: end;
}
.Journal{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 780px;
}
.Journal-block{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    gap:63px;
}
.two-journal-block{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.text-two-journal{
    line-height: 56px;
    font-size: 52px;
    margin: 0;
}
.text-two-journal-block{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.POPOPO{
    display: flex;
    flex-direction: row;
    gap:35px;
}
.text-popopo{
    font-size: 12px;
    line-height: 16px;
    color:#5D6E67;
    margin: 0;
}
.two-text-popopo{
    font-size: 16px;
    line-height: 21.3px;
    margin:0;
}
.igogo{
    display: flex;
    flex-direction: column;
    gap:180px;
}
.one-text-journal-block{
    font-size: 24px;
    line-height: 28.8px;
    margin: 0;
}
.one-journal-block{
    background-color:#FFFFFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 218px;
    width: 476px;
    margin-bottom: 16px;
    gap:7.5px;
}
.img-journal{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;

}